html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Prompt', sans-serif;
  z-index: -2;
  overflow-x: hidden;
}

/* #stars, #stars2, #stars3 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -0;
  animation: animStar 100s linear infinite;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1907px 1575px #ADD8E6, 893px 268px #87CEEB, 1819px 812px #4169E1, 1437px 1091px #1E90FF, 1352px 1684px #00BFFF, 1596px 1462px #87CEFA, 471px 1249px #B0E0E6, 1485px 260px #6495ED, 1930px 1611px #4682B4, 731px 1100px #5F9EA0, 562px 1791px #0000FF, 1338px 769px #0000CD, 59px 1107px #191970, 1155px 1318px #000080, 1641px 979px #4169E1, 1048px 310px #1E90FF, 1063px 1594px #00BFFF, 624px 1379px #87CEFA, 1237px 1013px #B0E0E6, 1192px 1175px #6495ED, 1px 1778px #4682B4, 939px 933px #5F9EA0, 635px 1712px #0000FF, 1mm 276px #0000CD, 185px 320px #191970, 917px 1778px #000080, 398px 1501px #4169E1, 1845px 427px #1E90FF, 1034px 1522px #00BFFF, 1128px 1923px #87CEFA, 1614px 1689px #B0E0E6, 805px 888px #6495ED, 1106px 1785px #4682B4, 1882px 1089px #5F9EA0, 1013px 1109px #0000FF, 1498px 1279px #0000CD, 1133px 765px #191970, 1772px 1462px #000080, 1474px 1850px #4169E1, 805px 338px #1E90FF, 737px 789px #00BFFF, 1442px 1457px #87CEFA;
  animation: animStar 50s linear infinite;
}

#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1907px 1575px #ADD8E6, 893px 268px #87CEEB, 1819px 812px #4169E1, 1437px 1091px #1E90FF, 1352px 1684px #00BFFF, 1596px 1462px #87CEFA, 471px 1249px #B0E0E6, 1485px 260px #6495ED, 1930px 1611px #4682B4, 731px 1100px #5F9EA0, 562px 1791px #0000FF, 1338px 769px #0000CD, 59px 1107px #191970, 1155px 1318px #000080, 1641px 979px #4169E1, 1048px 310px #1E90FF, 1063px 1594px #00BFFF, 624px 1379px #87CEFA, 1237px 1013px #B0E0E6, 1192px 1175px #6495ED, 1px 1778px #4682B4, 939px 933px #5F9EA0, 635px 1712px #0000FF, 1mm 276px #0000CD, 185px 320px #191970, 917px 1778px #000080, 398px 1501px #4169E1, 1845px 427px #1E90FF, 1034px 1522px #00BFFF, 1128px 1923px #87CEFA, 1614px 1689px #B0E0E6, 805px 888px #6495ED, 1106px 1785px #4682B4, 1882px 1089px #5F9EA0, 1013px 1109px #0000FF, 1498px 1279px #0000CD, 1133px 765px #191970, 1772px 1462px #000080, 1474px 1850px #4169E1, 805px 338px #1E90FF, 737px 789px #00BFFF, 1442px 1457px #87CEFA;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1534px 1261px #ADD8E6, 1008px 319px #87CEEB, 1026px 1488px #4169E1, 1375px 1808px #1E90FF, 1686px 364px #00BFFF, 127px 766px #87CEFA, 1520px 1788px #B0E0E6, 1737px 1955px #6495ED, 1147px 1931px #4682B4, 1984px 1574px #5F9EA0, 1790px 1139px #0000FF, 1276px 839px #0000CD, 1573px 30px #191970, 1612px 1752px #000080, 126px 917px #4169E1, 456px 1650px #1E90FF, 1193px 1090px #00BFFF, 1px 1704px #87CEFA, 1672px 83px #B0E0E6, 362px 362px #6495ED, 1387px 683px #4682B4, 1470px 1499px #5F9EA0, 1542px 1208px #0000FF, 788px 1030px #0000CD, 254px 1400px #191970, 1302px 229px #000080, 1701px 835px #4169E1, 1993px 383px #1E90FF, 1023px 1978px #00BFFF, 778px 1097px #87CEFA, 605px 1005px #B0E0E6, 1652px 1668px #6495ED, 540px 1831px #4682B4, 1330px 1551px #5F9EA0, 251px 1035px #0000FF, 1362px 1683px #0000CD, 1335px 1204px #191970, 1985px 1899px #000080, 1325px 1211px #4169E1, 1431px 1103px #1E90FF, 1473px 1407px #00BFFF, 605px 1728px #87CEFA, 1259px 1425px #B0E0E6, 1841px 1145px #6495ED, 1565px 378px #4682B4, 1130px 547px #5F9EA0, 1027px 958px #0000FF, 1163px 1875px #0000CD, 956px 362px #191970, 1575px 1087px #000080, 741px 1861px #4169E1, 825px 547px #1E90FF, 778px 1054px #00BFFF, 342px 1444px #87CEFA;
  animation: animStar 100s linear infinite;
}

#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1534px 1261px #ADD8E6, 1008px 319px #87CEEB, 1026px 1488px #4169E1, 1375px 1808px #1E90FF, 1686px 364px #00BFFF, 127px 766px #87CEFA, 1520px 1788px #B0E0E6, 1737px 1955px #6495ED, 1147px 1931px #4682B4, 1984px 1574px #5F9EA0, 1790px 1139px #0000FF, 1276px 839px #0000CD, 1573px 30px #191970, 1612px 1752px #000080, 126px 917px #4169E1, 456px 1650px #1E90FF, 1193px 1090px #00BFFF, 1px 1704px #87CEFA, 1672px 83px #B0E0E6, 362px 362px #6495ED, 1387px 683px #4682B4, 1470px 1499px #5F9EA0, 1542px 1208px #0000FF, 788px 1030px #0000CD, 254px 1400px #191970, 1302px 229px #000080, 1701px 835px #4169E1, 1993px 383px #1E90FF, 1023px 1978px #00BFFF, 778px 1097px #87CEFA, 605px 1005px #B0E0E6, 1652px 1668px #6495ED, 540px 1831px #4682B4, 1330px 1551px #5F9EA0, 251px 1035px #0000FF, 1362px 1683px #0000CD, 1335px 1204px #191970, 1985px 1899px #000080, 1325px 1211px #4169E1, 1431px 1103px #1E90FF, 1473px 1407px #00BFFF, 605px 1728px #87CEFA, 1259px 1425px #B0E0E6, 1841px 1145px #6495ED, 1565px 378px #4682B4, 1130px 547px #5F9EA0, 1027px 958px #0000FF, 1163px 1875px #0000CD, 956px 362px #191970, 1575px 1087px #000080, 741px 1861px #4169E1, 825px 547px #1E90FF, 778px 1054px #00BFFF, 342px 1444px #87CEFA;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1085px 988px #ADD8E6, 1304px 1944px #87CEEB, 1771px 981px #4169E1, 1576px 1570px #1E90FF, 919px 492px #00BFFF, 1721px 1210px #87CEFA, 580px 90px #B0E0E6, 1108px 951px #6495ED, 1565px 554px #4682B4, 502px 949px #5F9EA0, 1397px 939px #0000FF, 787px 104px #0000CD, 935px 128px #191970, 1318px 202px #000080, 1975px 1644px #4169E1, 1384px 1962px #1E90FF, 1306px 660px #00BFFF, 1276px 182px #87CEFA, 1294px 1462px #B0E0E6, 518px 279px #6495ED, 1192px 993px #4682B4, 451px 444px #5F9EA0, 821px 161px #0000FF, 615px 1674px #0000CD, 850px 1052px #191970, 1605px 589px #000080, 789px 51px #4169E1, 1694px 490px #1E90FF, 1988px 1492px #00BFFF, 1544px 1588px #87CEFA, 909px 1175px #B0E0E6, 1178px 825px #6495ED, 1297px 1292px #4682B4, 576px 1408px #5F9EA0, 1539px 928px #0000FF, 646px 1047px #0000CD, 1015px 1528px #191970, 637px 884px #000080, 1456px 1188px #4169E1, 839px 1712px #1E90FF, 1817px 603px #00BFFF, 1321px 522px #87CEFA, 1610px 1436px #B0E0E6, 1556px 1974px #6495ED, 1645px 191px #4682B4, 1657px 1182px #5F9EA0, 1236px 943px #0000FF, 1657px 947px #0000CD, 1539px 877px #191970, 1748px 931px #000080, 1999px 1415px #4169E1, 1089px 1922px #1E90FF, 1068px 527px #00BFFF, 501px 1251px #87CEFA, 1462px 229px #B0E0E6, 1697px 1155px #6495ED, 506px 1335px #4682B4, 693px 964px #5F9EA0, 866px 353px #0000FF, 679px 656px #0000CD, 925px 1347px #191970, 1069px 508px #000080, 1171px 1754px #4169E1, 1861px 1702px #1E90FF, 1694px 1197px #00BFFF, 1941px 1079px #87CEFA, 1848px 967px #B0E0E6, 520px 1504px #6495ED, 1615px 1927px #4682B4, 1993px 1893px #5F9EA0, 1942px 1025px #0000FF, 1654px 469px #0000CD, 1537px 333px #191970, 501px 1988px #000080, 1819px 1947px #4169E1, 1551px 1910px #1E90FF, 1489px 1805px #00BFFF, 594px 1743px #87CEFA, 940px 315px #B0E0E6, 1811px 727px #6495ED, 1323px 1948px #4682B4, 625px 1134px #5F9EA0, 1206px 1386px #0000FF, 1646px 1497px #0000CD, 1076px 1784px #191970, 1454px 1364px #000080, 1249px 1735px #4169E1, 1236px 869px #1E90FF, 1280px 1867px #00BFFF, 1467px 1286px #87CEFA, 1183px 1897px #B0E0E6;
  animation: animStar 150s linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1085px 988px #ADD8E6, 1304px 1944px #87CEEB, 1771px 981px #4169E1, 1576px 1570px #1E90FF, 919px 492px #00BFFF, 1721px 1210px #87CEFA, 580px 90px #B0E0E6, 1108px 951px #6495ED, 1565px 554px #4682B4, 502px 949px #5F9EA0, 1397px 939px #0000FF, 787px 104px #0000CD, 935px 128px #191970, 1318px 202px #000080, 1975px 1644px #4169E1, 1384px 1962px #1E90FF, 1306px 660px #00BFFF, 1276px 182px #87CEFA, 1294px 1462px #B0E0E6, 518px 279px #6495ED, 1192px 993px #4682B4, 451px 444px #5F9EA0, 821px 161px #0000FF, 615px 1674px #0000CD, 850px 1052px #191970, 1605px 589px #000080, 789px 51px #4169E1, 1694px 490px #1E90FF, 1988px 1492px #00BFFF, 1544px 1588px #87CEFA, 909px 1175px #B0E0E6, 1178px 825px #6495ED, 1297px 1292px #4682B4, 576px 1408px #5F9EA0, 1539px 928px #0000FF, 646px 1047px #0000CD, 1015px 1528px #191970, 637px 884px #000080, 1456px 1188px #4169E1, 839px 1712px #1E90FF, 1817px 603px #00BFFF, 1321px 522px #87CEFA, 1610px 1436px #B0E0E6, 1556px 1974px #6495ED, 1645px 191px #4682B4, 1657px 1182px #5F9EA0, 1236px 943px #0000FF, 1657px 947px #0000CD, 1539px 877px #191970, 1748px 931px #000080, 1999px 1415px #4169E1, 1089px 1922px #1E90FF, 1068px 527px #00BFFF, 501px 1251px #87CEFA, 1462px 229px #B0E0E6, 1697px 1155px #6495ED, 506px 1335px #4682B4, 693px 964px #5F9EA0, 866px 353px #0000FF, 679px 656px #0000CD, 925px 1347px #191970, 1069px 508px #000080, 1171px 1754px #4169E1, 1861px 1702px #1E90FF, 1694px 1197px #00BFFF, 1941px 1079px #87CEFA, 1848px 967px #B0E0E6, 520px 1504px #6495ED, 1615px 1927px #4682B4, 1993px 1893px #5F9EA0, 1942px 1025px #0000FF, 1654px 469px #0000CD, 1537px 333px #191970, 501px 1988px #000080, 1819px 1947px #4169E1, 1551px 1910px #1E90FF, 1489px 1805px #00BFFF, 594px 1743px #87CEFA, 940px 315px #B0E0E6, 1811px 727px #6495ED, 1323px 1948px #4682B4, 625px 1134px #5F9EA0, 1206px 1386px #0000FF, 1646px 1497px #0000CD, 1076px 1784px #191970, 1454px 1364px #000080, 1249px 1735px #4169E1, 1236px 869px #1E90FF, 1280px 1867px #00BFFF, 1467px 1286px #87CEFA, 1183px 1897px #B0E0E6;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
} */

.content {
  position: relative;
  z-index: 10;
  padding: 20px;
}




